* {
  box-sizing: border-box;
}

body{
  margin: 0;
  overflow-x: hidden !important;
  overflow-y: auto;
  max-width: 100vw;
}

#root{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
}
