.home-content {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .home-content {
    padding: 0;
    margin-top: -20px;
  }
}

@media (max-width: 480px) {
  .home-content {
    padding: 0;
    margin-top: -20px;
  }
}
